:root {
  --color-orange: #FDBA74;
  --color-border-switch: #f7b066;
  --color-gray: #bdbdbd;
  --text_color_sidebar: #EDF2F7;
  --bg_sidebar: #2D3748;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

/* --- Estilos para el Sidebar --- */

.text-sidebar {
  color: var(--text_color_sidebar);
}

.bg-sidebar {
  background-color: var(--bg_sidebar);
}

.bg-sidebar a:hover {
  color: var(--color-orange);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--color-orange) !important;
}

/* --- Estilos para el Switch Ámbar --- */

/* Cuando el switch está DESACTIVADO pero tiene el FOCO */
.form-switch .form-check-input:focus {
  /* Cambiamos el color del círculo en el SVG (el parámetro fill) */
  /* Aquí usamos un gris suave o una versión muy clara de tu naranja */
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

/* Cuando el switch está ACTIVADO y tiene el FOCO */
.form-switch .form-check-input:checked:focus {
  /* Mantenemos el círculo blanco pero aseguramos que el fondo sea naranja */
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

/* Cuando el switch está ACTIVADO (Checked) */
.form-check-input:checked {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

/* Color cuando está INACTIVO */
.form-check-input {
  cursor: pointer;
  background-color: #E5E7EB;
  border-color: #D1D5DB;
  height: 1.5em;
  width: 3em !important;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* El resplandor (focus) al hacer clic o usar teclado */
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--color-orange), 0.25) !important;
  border-color: transparent !important;
}

/* Estilo de la etiqueta de texto */
.form-check-label {
  cursor: pointer;
  font-weight: 600;
  margin-left: 0.7rem;
  transition: color 0.3s ease;
}

/* --- Estilos para el Acordeón --- */

/* 1. Quitamos la imagen de fondo azul por defecto de Bootstrap */
.accordion-button::after {
  background-image: none !important;
  content: "\F282";
  font-family: "bootstrap-icons";
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
  color: inherit;
}

/* 2. Rotamos la flecha cuando el acordeón está abierto */
.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}

/* 3. Aseguramos que el color del botón sea consistente */
.accordion-button {
  color: #EDF2F7 !important;
}

.accordion-button:not(.collapsed) {
  color: var(--color-orange) !important;
  background-color: transparent !important;
}